body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-left: 0;
  background-color: #212121;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.recipe-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 95%;
  height: 500px;
}

.recipe-grid-column {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid #454749;
  padding: 10px;
}

.recipe-title {
  align-self: center;
}

.recipe-grid-list {
  flex: 1;
}

.recipe-item {
  color: white;
  background-color: #454749;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 5px;
}

.recipe-form {
  display: flex;
  flex-direction: column;
}

.recipe-input {
  width: 50%;
  height: 30px;
  border-radius: 10px;
}

.submit-button {
  align-self: flex-end;
  margin-right: 20px;
  border-radius: 8px;
  padding: 5px;
  background: none;
  color: white;
  border: 1px solid #454749;
}

.submit-button:hover {
  background-color: #6c6f72;
}
